body {
    background-color: lightslategrey;
    padding:5px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/* Classes for header container */

header{
    background-color:black;
    padding: 0;
}

header h3{ 
    display:flex;
    justify-content:center;
    vertical-align:baseline;
}

nav {
    
    padding: 3px 0px 0px 0px;
    background-color:darkgreen;

}

nav ul {
    display: flex;
    justify-content: space-evenly;
}

nav ul li {
    display: inline-flex;
    vertical-align:top;
}

nav ul li a, nav ul li a:visited {
    text-decoration: none;
    color: white;
    font-weight: 900;
}

/* Classes for content container */
section {
    display: flex;
    padding: 10px;
    margin: 5px 0px 5px 0px;
}

.biography { 
    background-color:antiquewhite;
    flex-direction: row;
    flex-wrap: wrap;
}

.body-of-work {
    background-color:aquamarine;
    flex-wrap: wrap;
    justify-content:flex-start;
}

.contact {
    background-color:blueviolet;
}


/* Classes for the biography */

.biography figure {
    flex: 1 0 fit-content;
}

.writeup {
    flex: 1 0 fit-content;
}

/* Classes for the body of work container */
.card{
    padding: 10px;
    border: 4px dashed black;
    margin: 4px;
    background-color:coral; 
    flex:1 1 fit-content;
}

#project {
    
}

#project-description {
    
}
/* Classes for footer container */