
body {
    display: flex;
    background-image:url("../images/background-starfield.jpg");
    background-size: 100%;
    background-attachment: fixed;
    flex-direction: column;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/* Classes for header container */

header{
    display: flex;
    padding: 0;
    flex-direction: column;
    flex-wrap: nowrap;
    background-color: indigo;
    width:100%
    
}

.name-block {
    padding: 10px 10px 10px 10px;
    width:auto;
}

header h1{ 
    font-size: 300%;
    margin-bottom:0px;
}

header h1 a {
    text-decoration: none;
    color:black;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-shadow: 0px 0px 10px purple;
}

header p {
    font-size: 150%;
    
}
.social-media {
    display: inline-flex;
    justify-content: flex-end;
    float:right;
    align-items: flex-end;
    
}

.social-media i {
    display: inline;
    padding: 5px 5px 5px 5px;
    font-size: 150%;
    color: grey;
}

.social-media i:hover {
    color: black;
    transform: scale(1.5);
}

/* Classes for content container */

main {
    display:flex;
    flex-direction: column;
}
section {
    /* padding: 10px; */
    margin: 5px 0px 5px 0px;
}

details{ 
    display: flex;
}
summary {
    font-weight:bolder;
}

.biography { 
    display: inline-flex;
    background-color:antiquewhite;
    /* border-radius: 10px 50px 0px 50px; */
    width: 100%;
    height: fit-content;
    flex-direction: row;
    align-items: flex-start;
    flex-wrap: wrap;
}

.workblock {
    display: inline-flex;
    flex-direction: column;
    width: 100%;
}

.body-of-work {
    display: flex;
    border: 5px solid green;
    /* box-shadow: 10px white; */
    /* border-radius: 5px 5px 5px 55px; */
    flex-flow: column;
    align-items:center;
}

/* Classes for the biography */

.biography figure {
    flex: 0 3 initial;
}

.biography figure img {
    max-width:100%;
    height:auto;
}
.contactboxes {
    display: inline;
    flex:0 1 min-content;
}

.contact {
    display: block;
    /* width: 15% */
}

.contactbox {
    padding:2px;
    border: 1px solid blue;
}

.writeup {
    display: inline-block;
    text-align:justify;
    margin: 10px 20px 5px 20px;
    flex:1 min-content;
}

/* Classes for the body of work container */

.workblock header {
    display: flex;
    color: white;
}

.card {
    display: inline-block;
    padding: 10px;
    margin: 3px;
    position: relative;
    border: 1px solid white;
    border-top-right-radius: 5px;
    width: 85dvw;
    overflow: hidden;
    height: 30dvh;
}

.card div {
    z-index:1;
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    color: yellow;
    filter: none;
    background: rgba(169, 169, 169, 0.5);
}

.card figure {
    margin: 0 0 0 0;
}
.card figure img {
    z-index:0;
    position: absolute;
    top:0;
    left:0;
    height:auto;
    width:100%;
    filter: grayscale(100%);
    object-fit: contain;
}

.card figure img:hover {
    filter: none;
    transition: filter 0.3s ease-in 50ms;
}

.card div p, .card div h3 {
    opacity: 1;
}

.project1 {
    /* background-image: url("../images/project1.jpg"); */
    background-position: center;
 }
/*
.project2 {
    background-image: url("../images/pexels-isabella-mendes-4067506.jpg");
    backdrop-filter: greyscale(100%);

}

.project3 {
    background-image: url("../images/pexels-markus-spiske-177598.jpg");
    backdrop-filter: greyscale(100%);
}

.project4 {
    background-image: url("../images/pexels-pixabay-257904.jpg");
    backdrop-filter: greyscale(100%);
}

.project5 {
    background-image: url("../images/pexels-tranmautritam-326514.jpg");
    backdrop-filter: greyscale(100%);
    opacity: 0.1;

}

.project6 {
    background-image: url("../images/pexels-tranmautritam-381949.jpg");
    backdrop-filter: greyscale(100%);

}
.project7 {
    background-image: url("../images/project1.jpg");
    backdrop-filter: greyscale(100%); */

