body {
    background-image:url("/assets/images/background-starfield.jpg");
    background-size: 100%;
    background-attachment: fixed;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/* Classes for header container */

header{
    display: flex;
    padding: 0;
    flex-direction: column;
    flex-wrap: nowrap;
    
}

header h3{ 
    display:inline-block;
    justify-content:left;
    vertical-align:baseline;
    padding: 10px 10px 10px 10px;
    
}

header h3 a {
    text-decoration: none;
    color:burlywood;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

nav {
    display: block;
    background-color:green;
}

nav ul {
    display: flex;
    justify-content: space-evenly;
}

nav ul li {
    display: inline-flex;
}

nav ul li a, nav ul li a:visited {
    text-decoration: none;
    color: white;
    font-weight: 900;
}


/* Classes for content container */

main {
    display:flex;
    flex-direction: row;
}
section {
    padding: 10px;
    margin: 5px 0px 5px 0px;
}

.biography { 
    display: inline-flex;
    background-color:antiquewhite;
    border-radius: 10px 50px 0px 50px;
    width: 20%;
    height:fit-content;
    flex-direction: column;
    align-items: flex-start;
}


.workblock {
    display: inline-flex;
    flex-direction: column;
}

.body-of-work {
    display: flex;
    border: 5px solid green;
    border-radius: 10px 50px 0px 50px;
    flex-flow: row wrap;
}

/* Classes for the biography */

.biography figure {
    display: block;
}

.biography figure img {
    max-width:initial;
    height:auto;
}

.contact {
    display: block;
    /* width: 15% */
}

.contactbox {
    padding:2px;
    border: 1px solid blue;
}

.writeup {
    text-align:justify;
}

.social-media {
    display: flex;
}

.social-media i {
    padding: 5px 5px 5px 5px;
    font-size: 150%;
    color: grey;
    float: left;
}

.social-media i:hover {
    color: black;
    transform: scale(1.5);
}

/* Classes for the body of work container */

.workblock header {
    display: flex;
    color: white;
}

.card{
    display: inline-block;
    padding: 10px;
    /* border: 4px dashed black; */
    margin: 4px;
    background: coral;
    transition: background-color 2s ease-out 100ms
    max-width: 48%;
    min-width:48%;
}

.card:hover {
    background-color: yellow;
}

.bootcamp {
    content: "Bootcamp App";
    position: relative;

}

#project {
    
}

#project-description {
    
}
/* Classes for footer container */